{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    Edwiser RemUI
    @package theme_remui
    @copyright (c) 2023 WisdmLabs (https://wisdmlabs.com/)
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}
{{!
    @template theme_remui/common_start
}}

{{> theme_remui/head }}



<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="d-print-block">

    {{{ output.standard_top_of_body_html }}}

    {{#focusdata.enabled}} {{> theme_remui/navbar_fm }} {{/focusdata.enabled}}

    {{> theme_remui/navbar }}
 
    <div style="display:none;">
    {{#courseindex}}
        {{< theme_remui/drawer }}
            {{$id}}theme_remui-drawers-courseindex{{/id}}
            {{$drawerclasses}}drawer drawer-left {{#courseindexopen}}show{{/courseindexopen}}{{/drawerclasses}}
            {{$drawercontent}}
                {{{courseindex}}}
            {{/drawercontent}}
            {{$drawerpreferencename}}drawer-open-index{{/drawerpreferencename}}
            {{$drawerstate}}show-drawer-left{{/drawerstate}}
            {{$tooltipplacement}}right{{/tooltipplacement}}
            {{$closebuttontext}}{{#str}}closecourseindex, core{{/str}}{{/closebuttontext}}
        {{/ theme_remui/drawer}}
    {{/courseindex}}
   
    {{#hasblocks}}
        {{< theme_remui/drawer }}
            {{$id}}theme_remui-drawers-blocks{{/id}}
            {{$drawerclasses}}drawer drawer-right{{#blockdraweropen}} show{{/blockdraweropen}}{{/drawerclasses}}
            {{$drawercontent}}
                <section class="d-print-none" aria-label="{{#str}}blocks{{/str}}">
                    {{{ addblockbutton }}}
                    {{{ sidepreblocks }}}
                </section>
            {{/drawercontent}}
            {{$drawerpreferencename}}drawer-open-block{{/drawerpreferencename}}
            {{$forceopen}}{{#forceblockdraweropen}}1{{/forceblockdraweropen}}{{/forceopen}}
            {{$drawerstate}}show-drawer-right{{/drawerstate}}
            {{$tooltipplacement}}left{{/tooltipplacement}}
            {{$drawercloseonresize}}1{{/drawercloseonresize}}
            {{$closebuttontext}}{{#str}}closeblockdrawer, core{{/str}}{{/closebuttontext}}
        {{/ theme_remui/drawer}}
    {{/hasblocks}}
   </div>

    <div id="page" data-region="mainpage" data-usertour="scroller" class="drawers {{#courseindexopen}}show-drawer-left{{/courseindexopen}} {{#blockdraweropen}}show-drawer-right{{/blockdraweropen}} drag-container">
        <div id="topofscroll" class="main-inner">
            {{#sitenotification}}{{{sitenotification}}}{{/sitenotification}}
            {{#notification}}{{> theme_remui/product_notification}}{{/notification}}
            {{#customhomepage}}
                {{{customhomepage}}}
            {{/customhomepage}}

            {{^customhomepage}}
                {{> theme_remui/frontpagesections}}
            {{/customhomepage}}

            <div class="container">
            
            <div style="display:none;">
            {{! modification smartch reinitialiser la page  }}
            {{{ output.full_header }}}
            </div>
            
            {{#isdashboardstatsshow}}
                {{! <div class="row">
                    <div class="col-md-12"> }}
                {{! <div class="fff-dashboard"> }}
                    <!--<div class="container">-->
                        {{> theme_remui/smartch_info }}
                        {{> theme_remui/smartch_my_courses }}
                        {{> theme_remui/smartch_dashboard_stats }}
                        {{> theme_remui/smartch_pub }}
                        {{> theme_remui/smartch_calendar}}
                   
                    <!-- </div>-->
                    <!--{{> theme_remui/smartch_recommended }}-->
                    <!--{{> theme_remui/dashboard_stats }}-->
                {{! </div> }}
                    {{! </div>
                </div> }}
            {{/isdashboardstatsshow}}
            

            {{#secondarymoremenu}}
                <div class="secondary-navigation edw-tabs-navigation d-print-none">
                    {{> core/moremenu}}
                </div>
            {{/secondarymoremenu}}
            {{#canaddtopblocks}}
            <section id="region-top-blocks" class="has-blocks" aria-label="region top blocks">
                <div role="main">
                    
                    <!--{{{addblockbuttontop}}}
                    {{{ sidetopblocks }}}-->
                </div>
            </section>
            {{/canaddtopblocks}}

{{#sitenotification}}
{{#js}}
    require(['jquery'], function($){
        // Save the preference, after dismiss the announcement
        $('.site-announcement #dismiss_announcement').click(function(){
            M.util.set_user_preference('remui_dismised_announcement', true);
        });
    });

    

    window.onload = function(){
        
        //fonction qui permet d'etre tout le temps en mode non edition sur cette page
        {{! var btnedit = document.getElementsByClassName("custom-control-input")[0]; }}
        {{! alert(btnedit); }}
        {{! if(btnedit.checked){
            btnedit.click()
        } }}
    };
{{/js}}
{{/sitenotification}}


