{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    Edwiser RemUI
    @package theme_remui
    @copyright (c) 2023 WisdmLabs (https://wisdmlabs.com/)
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}
{{!
    @template theme_remui/smartch_info
}}


{{! modification smartch dashboard}}

<h3 style="top: 100px;position:absolute;" class="FFF-title1-bonjour userinfo FFF-White"><span class="FFF-Hero-Light" style="font-weight: 500;letter-spacing: 3px;">Bonjour, </span><span class="FFF-Hero-Bold" style="letter-spacing: 1px;" id="userinfofff"></span> </h3>

{{#js}}
	require(['jquery', 'core/ajax'], function($, Ajax) {
		$(document).ready(function(){
			let service_name = 'theme_remui_get_smartch_info';
			let cuserinfo = Ajax.call([
			    {
			        methodname: service_name,
			        args: {}
			    }
			]);
			cuserinfo[0].done(function(response) {
				let user = JSON.parse(response);
				//console.log(user)
				let username = user.firstname + " " + user.lastname;
			    // When userinfo block is ready then render the response value.
			    $('.userinfo').ready(function() {
					document.getElementById('userinfofff').innerHTML = username;
			    });

				

				//quand le slider est ready
				$('#encartpub').ready(function() {
					let htmlslider = "";
					$('#imagefixe').prop('src', user.urlimagefixe);
					for(let i=0;i<user.otherimages.length;i++){
						//console.log(user.otherimages[i]);
						htmlslider += '<li class="splide__slide"><img src="'+user.otherimages[i]+'" style="width: 100%; height: 100%;max-height: 550px; object-fit: contain;" /></li>';
						//$('#sliderimage'+i).prop('src', user.otherimages[i]);
						//$('#sliderimage'+i).style.display = "block";
					}

					//console.log(htmlslider);
					$('.splide__list').html(htmlslider);

					var splide = new Splide( '.splide' );
					splide.mount();
			    });
				

				

				
				
			});
		});
	});
{{/js}}


